.klerk {
  font-size: 1.2em;
  font-family: $font-family-cursive;
  position: relative;

  .flip {
    display: inline-block;
    transform: rotateY(180deg);
  }

  .bubble {
    display: inline-block;
    background: $theme-primary;

    margin-left: -3em;
    padding: .125em .5em;

    font-family: $font-family-base;
    font-size: 0.2em;
    font-weight: 300;

    border-radius: 3px;
  }
}