$theme-primary:    #E74C3C;
$theme-secondary:  #2980B9;
$theme-tertiary:   #2C3E50;

$primary: $theme-primary;
$secondary: $theme-secondary;

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       "Fira Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-serif:           "Merriweather", serif;
$font-family-cursive:         "Squada One", cursive;