
@import "animations";

@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";

@import "components/flash";
@import "components/footer";
@import "components/header";
@import "components/logo";
@import "components/masthead";
@import "components/preview";
@import "components/prism";

.app {
  background: $theme-tertiary;
  min-height: 100vh;
}



.font-italic {
  font-family: $font-family-serif;
  font-style: italic;
}

form {
  textarea, input {
    font-family: $font-family-monospace;
  }

  textarea {
    min-height: 40vh;
  }
}